@model SchoolSystem.Web.Models.Teacher.TeacherCreateViewModel

@{
    ViewData["Title"] = "Create Teacher";
}

<h2>Create Teacher</h2>
<form asp-action="Create" method="post">
    <input type="hidden" asp-for="SchoolId" />
    <div class="form-group mb-3">
        <label asp-for="Specialization" class="control-label"></label>
        <input asp-for="Specialization" class="form-control"/>
        <span asp-validation-for="Specialization" class="text-danger"></span>
    </div>
    <div class="form-group mb-3">
        <label asp-for="UserId">Select Teacher</label>
        <select asp-for="UserId" asp-items="Model.AvailableTeachers" class="form-control">
            <option value="">-- Select Teacher --</option>
        </select>
        <span asp-validation-for="UserId" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">Save</button>
    <a asp-action="Details" asp-controller="School" asp-route-id="@Model.SchoolId" class="btn btn-secondary">Cancel</a>
</form>
