@page
@model LoginModel

@{
    ViewData["Title"] = "Вход в електронен дневник";
    Layout = null;
}

<!DOCTYPE html>
<html lang="bg">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="icon" href="~/favicon.svg" type="image/x-icon" />
        <title>Вход в електронен дневник</title>
        <link rel="stylesheet" href="~/css/account.css" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" />
    </head>
    <body>
    <div class="form-wrapper">
        <img src="~/logo.jpg" alt="Лого на училище" class="logo" />
        <form id="login-form" method="post" class="form-box active">
            <h2>Вход</h2>
            <div asp-validation-summary="All" style="color: red;" role="alert"></div>
            <div class="input-group">
                <i class="fas fa-user"></i>
                <input asp-for="Input.Email" autocomplete="username" aria-required="true" placeholder="Емайл" />
            </div>
            <div class="input-group">
                <i class="fas fa-lock"></i>
                <input asp-for="Input.Password" class="form-control" autocomplete="current-password" aria-required="true" placeholder="Парола" />
            </div>
            <button id="login-submit" type="submit">Вход</button>
            <p>
                Нямате профил?
                <a class="switch-form" asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Регистрация</a>
            </p>
        </form>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <partial name="_ValidationScriptsPartial" />
    </body>
</html>
