@page
@model RegisterModel

@{
    ViewData["Title"] = "Регистрация в електронен дневник";
    Layout = null;
}

<!DOCTYPE html>
<html lang="bg">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="icon" href="~/favicon.svg" type="image/x-icon" />
        <title>Регистрация в електронен дневник</title>
        <link rel="stylesheet" href="~/css/account.css" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" />
    </head>
    <body>
    <div class="form-wrapper">
        <img src="~/logo.jpg" alt="Лого на училище" class="logo" />
        <form id="register-form" method="post" class="form-box active">
            <h2>Регистрация</h2>
            <div asp-validation-summary="All" style="color: red;" role="alert"></div>
            <div class="input-group">
                <i class="fas fa-user"></i>
                <input asp-for="Input.FirstName" autocomplete="given-name" aria-required="true" placeholder="Име" />
            </div>
            <div class="input-group">
                <i class="fas fa-user"></i>
                <input asp-for="Input.MiddleName" autocomplete="additional-name" placeholder="Презиме" />
            </div>
            <div class="input-group">
                <i class="fas fa-user"></i>
                <input asp-for="Input.LastName" autocomplete="family-name" aria-required="true" placeholder="Фамилия" />
            </div>
            <div class="input-group">
                <i class="fas fa-user-circle"></i>
                <input asp-for="Input.DateOfBirth" aria-required="true" type="date" placeholder="Дата на раждане" />
            </div>
            <div class="input-group">
                <i class="fas fa-envelope"></i>
                <input asp-for="Input.Email" autocomplete="username" aria-required="true" placeholder="Имейл" />
            </div>
            <div class="input-group">
                <i class="fas fa-lock"></i>
                <input asp-for="Input.Password" placeholder="Парола" autocomplete="new-password" aria-required="true" />
            </div>
            <div class="input-group">
                <i class="fas fa-lock"></i>
                <input asp-for="Input.ConfirmPassword" autocomplete="new-password" aria-required="true" placeholder="Повтори парола"/>
            </div>
            <div class="input-group">
                <i class="fas fa-user-tag"></i>
                <select asp-for="Input.SelectedRole" aria-required="true">
                    <option value="">Избери роля</option>
                    @foreach (SelectListItem? role in Model.RoleOptions)
                    {
                        <option value="@role.Value">@role.Text</option>
                    }
                </select>
            </div>
            <button type="submit">Регистрирай се</button>
            <p>
                Вече имате профил?
                <a class="switch-form" asp-page="./Login" asp-route-returnUrl="@Model.ReturnUrl">Вход</a>
            </p>
        </form>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <partial name="_ValidationScriptsPartial" />
    </body>
</html>
