@model PrincipalEditViewModel

@{
    ViewData["Title"] = "Директори - Редактиране";
}

<main class="page">
    <form asp-action="Edit" class="card">
        <input type="hidden" asp-for="Id" />
        <h2>Редактиране на директор</h2>
        <div asp-validation-summary="All" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="Specialization"></label>
            <input asp-for="Specialization" class="form-control" />
            <span asp-validation-for="Specialization"></span>
        </div>
        <div class="form-group">
            <label asp-for="PhoneNumber"></label>
            <input asp-for="PhoneNumber" class="form-control" />
            <span asp-validation-for="PhoneNumber"></span>
        </div>
        <button type="submit" id="add-btn" class="btn full">Запазване</button>
    </form>
</main>

@section Styles
{
    <link rel="stylesheet" href="~/css/create.css" />
}
