@model SchoolSystem.Web.Models.Subject.SubjectCreateViewModel

@{
    ViewData["Title"] = "Create Subject";
}

<h2>Create Subject</h2>
<form asp-action="Create" method="post">
    <input type="hidden" asp-for="SchoolId" />
    <div class="form-group mb-3">
        <label asp-for="Name" class="control-label"></label>
        <input asp-for="Name" class="form-control"/>
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-success">Create</button>
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
